*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app{
    height:100vh;
    width:100vw;
    background:lightgray;
}

.text-shadow{
    text-shadow:1px 1px 1px white;
}


.overlay{
    height:100%;
    width:100%;
    background-image:url("assets/vons4.jpeg");
    background-size:contain;
    position:absolute;
    top:0;
    left:0;
}

.overlay-bubble{
    width:65%;
    padding:1em;
    border-radius:15%;
    background:white;
}

.underline{
    text-decoration:underline;
}

.remove{
    background:white;
    padding:.25em;
    border-radius:25%;
    cursor:pointer;
}

.remove:hover{
    opacity:.7;
}


.flex{
    display:flex;
}

.center{
    align-items:center;
    justify-content: center;
}

.column{
    flex-direction:column;
}

.space-between{
    justify-content: space-between;
    align-items:center;
}

.evenly{
    justify-content:space-evenly;
    align-items:center;
}

.text-center{
    text-align:center;
}

.p-1{
    padding:.5em;
}

.ml-3{
    margin-left:10px;
}

.mr-3{
    margin-right:10px;
}


.main{
    height:350px;
    width:100%;
}

.col{
    width:50%;
    height:100%;
    border:1px solid black;
}

.h-10{
    height:20%;
}

.flex-1{
    flex-grow:1;
    background:red;
    overflow:auto;
}

li{
    padding:.5em;
}

.scanner{
    height:60%;
    width:95%;
    margin:0 auto;
    background:black;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr)
}

.drag-item{
    padding:.5em;
    margin:5px;
    border-radius:15%;
    border:2px solid black;
    background:rgb(255,0,0,.7);
    cursor:grab;
}

.drag-item:hover{
    background:rgb(255,0,0,.9)
}